/* ===== CTA ===== */

.cta{
    background:#0b5cab;
    color:white;
    text-align:center;
    padding:90px 20px;
}

.cta h2{
    font-size:42px;
    margin-bottom:20px;
}

.cta p{
    font-size:18px;
    max-width:750px;
    margin:0 auto 35px;
    line-height:1.8;
}

.cta .btn{
    display:inline-block;
    background:#fff;
    color:#0b5cab;
    padding:16px 40px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.cta .btn:hover{
    background:#e9eef6;
}
/* ===== FAQ ===== */

.faq{
    padding:80px 0;
    background:#f8fafc;
}

.faq h2{
    text-align:center;
    font-size:36px;
    color:#0b5cab;
    margin-bottom:40px;
}

.faq details{
    background:#fff;
    margin:20px auto;
    max-width:900px;
    border-radius:10px;
    box-shadow:0 8px 20px rgba(0,0,0,.08);
    overflow:hidden;
}

.faq summary{
    padding:20px;
    font-size:20px;
    font-weight:600;
    cursor:pointer;
    list-style:none;
}

.faq summary::-webkit-details-marker{
    display:none;
}

.faq summary::after{
    content:"+";
    float:right;
    font-size:28px;
    color:#0b5cab;
}

.faq details[open] summary::after{
    content:"−";
}

.faq details p{
    padding:0 20px 20px;
    line-height:1.8;
    color:#555;
}
